@import "styles/base/_colors.scss";

.l-social__area {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1.5rem;
  font-size: 1.15rem;

  .c-social__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    .c-social__item {
      display: flex;
      flex-direction: column;

      .c-social__link {
        display: flex;
        padding: 6px 6px 6px 0;
        width: 100px;
        color: $white;

        &:hover {
          color: $blue60;
          text-decoration: underline;
          transition: color 0.4s ease-in-out;
        }
      }
    }
  }
}

@media screen and (min-width: 0) {
  .l-social__area {
    width: 100%;
  }
}

@media screen and (min-width: 690px) {
  .l-social__area {
    width: 50%;
  }
}
