@import "styles/base/_colors.scss";

.c-button {
  align-items: center;
  background-color: $blueblack;
  border: 2px solid $blue60;
  box-sizing: border-box;
  color: $white;
  display: flex;
  font-size: 1.3rem;
  height: 51px;
  justify-content: center;
  padding: 8px 16px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 300;

  &:hover {
    background-color: #293342;
    transition: all 0.8s ease-in-out;
  }
}
