.l-perfil__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 250px;
  height: 100%;
  max-height: 250px;
  position: relative;
  margin: 0 auto;
  animation: neon_pulse 2.4s infinite;
  border-radius: 50%;
  box-sizing: border-box;

  @for $i from 1 through 5 {
    .move-#{$i} {
      max-width: 100%;
      animation: move-#{$i} 5s infinite;
      line-height: 0;

      @if $i == 2 or $i == 4 or $i == 5 {
        margin: -1px;
        padding: -1px;
      } @else {
        margin: 0;
        padding: 0;
      }
    }
  }
}

@keyframes move-1 {
  0% {
    transform: translateX(0px);
  }
  1% {
    transform: translateX(15px);
  }
  2% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes move-2 {
  0% {
    transform: translateX(1px);
  }
  1% {
    transform: translateX(-12px);
  }
  2% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes move-3 {
  1% {
    transform: translateX(2px);
  }
  2% {
    transform: translateX(7px);
  }
  3% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes move-4 {
  0% {
    transform: translateX(0px);
  }
  2% {
    transform: translateX(-3px);
  }
  3% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes move-5 {
  0% {
    transform: translateX(1px);
  }
  1% {
    transform: translateX(2px);
  }
  2% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes neon_pulse {
  0% {
    filter: drop-shadow(-3.5px 0px 0px #387c96)
      drop-shadow(3.5px 0px 0px #387c96) drop-shadow(0px -3.5px 0px #387c96)
      drop-shadow(0px 3.5px 0px #387c96) drop-shadow(0px 0px 4px #387c96);
  }

  50% {
    filter: drop-shadow(-3.5px 0px 0px #387c96)
      drop-shadow(3.5px 0px 0px #387c96) drop-shadow(0px -3.5px 0px #387c96)
      drop-shadow(0px 3.5px 0px #387c96);
  }

  100% {
    filter: drop-shadow(-3.5px 0px 0px #387c96)
      drop-shadow(3.5px 0px 0px #387c96) drop-shadow(0px -3.5px 0px #387c96)
      drop-shadow(0px 3.5px 0px #387c96) drop-shadow(0px 0px 4px #387c96);
  }
}
