@import "styles/base/_colors.scss";

.l-contact__container {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0;
  color: $white;
}

@media screen and (min-width: 0) {
  .l-contact__container {
    flex-direction: column;
  }
}

@media screen and (min-width: 690px) {
  .l-contact__container {
    flex-direction: row;
  }
}
