@import "styles/base/_colors.scss";

.l-about__area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  

  h2 {
    font-size: 2rem;
    font-weight: 600;
    color: $blue60;
    margin: 0;
    margin-bottom: 6px;
    padding: 0;
  }

  p {
    margin: .5rem 0;
  }


  .c-about__me {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 1.2rem 0;

    .c-button {
      align-items: center;
      background-color: transparent;
      border: 2px solid $blue60;
      box-sizing: border-box;
      color: $white;
      display: flex;
      font-weight: 600;
      height: 51px;
      justify-content: center;
      padding: 8px 16px;
      width: 100%;
      cursor: pointer;
      margin-top: 10px;
      max-width: 177px;

      &:hover {
        background-color: #293342;
        transition: all 0.8s ease-in-out;
      }
    }
  }
}

.l-perfil__area {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 250px;
  width: 100%;
  justify-content: center;
  padding: 0;
  margin-top: 20px;

  .l-social__media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 40px;

    .c-social__media {
      width: 40px;
      height: 40px;

      &:hover {
        animation: swing 0.5s infinite;
      }

      &--linkedin {
        background: url("../../../assets/linkedin.svg") no-repeat;
      }

      &--github {
        background: url("../../../assets/github.svg") no-repeat;
      }

      &--instagram {
        background: url("../../../assets/instagram.svg") no-repeat;
      }
    }

    @keyframes swing {
      0% {
        transform: rotate(0deg) scale(1.1);
      }
      25% {
        transform: rotate(-20deg) scale(1.1);
      }

      50% {
        transform: rotate(0deg) scale(1.1);
      }

      75% {
        transform: rotate(20deg) scale(1.1);
      }

      100% {
        transform: rotate(0deg) scale(1.1);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .l-about__area {
    flex-direction: column-reverse;
  }

  .l-perfil__area {
    margin: 0 auto;
  }
}
