// White
$white: #ffffff;

// Black
$black100: #464646;
$black80: #6b6b6b;
$black50: #f5f5f5;

// Gray
$gray40: #a2a2a2;

// Blue
$blueblack: #202835;
$blue60: #48b0d3;
$blue40: #293342;

// Red
$danger: #e25546;
$danger-text: #ba2819;
